[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
line-bot-sdk = "*"
beautifulsoup4 = "*"
requests = "*"
pymysql = "*"
tronpy = "*"
pillow = "*"
base58 = "*"

[dev-packages]

[requires]
python_version = "3.11"
